@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Lexend+Deca:wght@100..900&family=Metal+Mania&family=Nova+Round&display=swap');
body{
   margin: 0;

   background-color: #A2D2DF;

}
.iceland-regular {
    font-family: "Iceland", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  .nova-round-regular {
    font-family: "Nova Round", system-ui;
    font-weight: 900;
    font-style: normal;
  }

header{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: bolder;
}
.main{
    
    text-align: center;
    

    
}
.lexend-deca-t {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.metal-mania-regular {
    font-family: "Metal Mania", system-ui;
    font-weight:bolder;
    font-style: normal;
  }
h1,h3,h4{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.teamlistcontainer{
    text-align: center;
    /* border: 1px  solid black; */
    
}

.playerslist-dropdown{
    display: flex;
    flex-direction:column-reverse;
   
    align-items: center;
}
.playerslist-dropdown > button{
    max-width: 100px;
    
}
.plist{
    text-align: center;
    display: inline;
    
    width: auto;
}

.playertile{
    margin: 2px;
    max-width: fit-content;
    background-color: #cef6bd;
    color: black;
    display: inline-block;
    vertical-align: top;    
    max-height: fit-content;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid black;
    
      
    
}

.tile-items{
    padding-left: 5px;
    display: flex;
    align-items: center;
    
}
.tile-items button{
    height: fit-content;
}
footer{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: 600;
    
}


.playerlist{
    border: 1px solid rgb(0, 0, 0);
    background-color: #E4C087;
    color: rgb(42, 32, 32);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
}
input[type="text"]{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    font-size: larger;
    border: 2px solid black;
    background-color: white;
    
}
.button{
  
   
    margin: 5px;
    
    font-family: fantasy;
}
.button:hover{
    background-color: aqua;

}